.list {
  min-width: 300px;
  flex-direction: column;
  overflow-y: auto;
  align-items: flex-start;
  text-align: center;
  max-height: 700px;
  padding: 1rem 0.5rem;
}

.list div {
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.list div:hover {
  cursor: pointer;
  background-color: #8089fb;
  border-radius: 0.5rem;
}
