body {
  background-color: whitesmoke;
}

.App {
  font-family: 'Oswald', sans-serif;
  text-align: center; 
}

#bandejaDeEntrada {
  max-width: 60rem;
  height: auto;
  display: flex;
  border: 0.3rem solid #202894;
  border-radius: 1rem;
  background: rgb(255, 206, 52);
  background: linear-gradient(
    180deg,
    rgba(255, 206, 52, 1) 47%,
    rgba(255, 255, 255, 1) 79%
  );
  margin: 1rem auto;
}

.logoPokedex {
  width: 15rem;
}

.pokedex{
  display: flex;
  flex-direction: column;
  flex-wrap: 1;
}

.pokedexInfo{
  display: flex;
}