body {
  background-color: whitesmoke;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

/*APP.TSX STYLES*/


#findPokemon {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 10px 20px;
}

#findPokemon input {
  margin-left: 20px;
  height: 30px;
  font-size: 14px;
  padding: 4px 8px;
  flex-grow: 1;
}

#findPokemon button {
  margin-left: 20px;
  height: 30px;
  font-size: 14px;
  padding: 4px 8px;
}

.list {
  min-width: 300px;
  flex-direction: column;
  overflow-y: auto;
  border-right: 2px solid lightgrey;
  align-items: flex-start;
  text-align: left;
  max-height: 700px;
}

.list div {
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.list div:hover {
  cursor: pointer;
  background-color: lightpink;
  border-radius: 12px;
}

.ViewPokemon {
  width: 300px;
  max-width: 300px;
  padding: 1rem;
}

.ViewPokemon img {
  max-width: 300px;
  max-height: 300px;
}
